<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录画面</title>
</head>
<body>
<form th:action="@{/login}" method="post" id="loginForm">
    <label for="username">用户名：</label>
    <input type="text" name="username" id="username" th:value="${form.setUsername}"><br/>

    <label for="password">密 码：</label>
    <input type="password" name="password" id="password" th:value="${form.setPassword}"><br/>
    
    <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="checkbox" name="remember-me" />&nbsp;Remember Me
            </p>
            <p>
                <input type="submit" value="Login" class="btn btn-primary" />
            </p>
    
    
    
    

    <button type="submit">登录</button>
</form>

</body>
</html>